**/node_modules
**/dist

**/.nyc_output
**/coverage

# **/yarn.lock
# **/package-lock.json

**/doc

**/readme-example.js

/test.html
/test.js

.DS_Store


/packages/**/lib/*.js
/packages/**/lib/models/*.js
/packages/**/lib/utils/*.js

/file-output/*.txt

lerna-debug.log
.vscode
yarn-error.log
.turbo

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*