**/node_modules
**/dist

**/.nyc_output
**/coverage

# **/package-lock.json

**/doc

**/readme-example.js

/test.html
/test.js

.DS_Store

/packages/**/lib/*.js
/packages/**/lib/models/*.js
/packages/**/lib/utils/*.js

/file-output/*.txt

lerna-debug.log
.vscode
.turbo

# pnpm
.pnpm-debug.log*
.pnpm-store/

# yalc local package linking
.yalc/
**/yalc.lock

# dotenv environment variables file
.env
.env.test
*.env*

# yalc local package linking
.yalc/
**/yalc.lock
